<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body id="load">
    {{- block "main" . }}{{- end }}
  </body>
<div class="d-n">
<script type="text/javascript">
	atOptions = {
		'key' : 'd9b29157213fd8a0412efdc37ee67946',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://poplarwindowsmasculine.com/d9b29157213fd8a0412efdc37ee67946/invoke.js"></scr' + 'ipt>');
</script>
<script type="text/javascript">
	atOptions = {
		'key' : 'd9b29157213fd8a0412efdc37ee67946',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://poplarwindowsmasculine.com/d9b29157213fd8a0412efdc37ee67946/invoke.js"></scr' + 'ipt>');
</script>
<script type="text/javascript">
	atOptions = {
		'key' : 'd9b29157213fd8a0412efdc37ee67946',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://poplarwindowsmasculine.com/d9b29157213fd8a0412efdc37ee67946/invoke.js"></scr' + 'ipt>');
</script>
</div>
</html>