{{ define "main" }}
<script src="/js/script.js"></script>
<script>if(mwatch != null){document.write(metanime);}else if(mwatch2 != null){document.write(metanime2);}else{null};</script>
<div>
<script async="async" data-cfasync="false" src="//poplarwindowsmasculine.com/c0b94591ce699f14b291eb1c0e6daf44/invoke.js"></script>
<div id="container-c0b94591ce699f14b291eb1c0e6daf44"></div>
<script async="async" data-cfasync="false" src="//poplarwindowsmasculine.com/c0b94591ce699f14b291eb1c0e6daf44/invoke.js"></script>
<div id="container-c0b94591ce699f14b291eb1c0e6daf44"></div>
<script async="async" data-cfasync="false" src="//poplarwindowsmasculine.com/c0b94591ce699f14b291eb1c0e6daf44/invoke.js"></script>
<div id="container-c0b94591ce699f14b291eb1c0e6daf44"></div>
</div>
{{ end }}