body{color:white;background:black;width:100%;height:100%;}
video{object-fit:contain;position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;margin:auto;background:black;display:none;}

.ai-c{align-items:center}
.d-b{display:block}.d-f{display:flex}
.h-f{height:100%}
.jc-c{justify-content:center}
.p-a{position:absolute}
.w-f{width:100%}

.tl{top:10px;left:10px;right:10px}
#plyr,#load{margin:0;background-image:url(https://service.acefile.co/assets/preload.svg);background-position:center;background-repeat:no-repeat}